* {
	margin: 0;
	padding: 0;
 }
body {
	font-family: Open Sans;
	
}
header {
	width: 1400px;
	height: 195px;
	margin: 0 auto;
	background: black;
	position: relative;
}
.site-info {
	position: absolute;
	top: 30px;
	left: 230px;
	
}
.site-info h1 {
	color: #fdd105;
}
.site-info span {
	color: white;
}
span.slogan {
	color: #9a9a9a;
	font-size: 12px;
	display: block;
	margin-top: -5px;
}
.search {
	position: absolute;
	top: 40px;
	right: 225px;
}
input {
	background: #212121;
	border: none;
	height: 32px;
	width: 225px;
}
.search img {
	float: right;
}
.menu ul {
	background:#f6f6f6; 
	height: 74px;
	width: 940px;
	position: absolute;
	top: 120px;
	left: 230px;
	border-bottom: 1px solid #dddddd;
	border-radius: 13px 10px 0 0;

	
}
 .menu li:last-child {
	border: none;
}
 .menu li:first-child{
 	border-radius: 10px 0 0 0;
 }

.menu ul li {
	list-style-type: none;
	display: inline-block;
	font-weight: bold;
	border-right: 1px solid #dddddd ;
    padding: 27px 27px 26px 27px;
    text-transform: uppercase;
    color: black;

}
ul li a {
	text-decoration: none;
	color: black;
}
li.active {
	background: #414141;

}
li.active a {
	color: white;
}
.conteiner {
	margin: 0 auto;
	width: 1400px;
	background: #efefef;
	overflow: hidden;
}
.block {
	width: 940px;
	background: white;
	margin: 0 auto;
	overflow: hidden;
}

.content {
	width: 540px;
	float:left;
}
.right-menu {
	width: 400px;
	float: right;
	height: 400px;
	background: red;
}



